@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dawning+of+a+New+Day&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dawning+of+a+New+Day&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme{
    --font-crimson: 'Crimson', 'serif';
    --font-dawn: "Dawning of a New Day", cursive;
    --font-josefin: "Josefin Slab", serif;
}

:root {
    background-color: #F5F0F6;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
